/* reset padrões */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	padding-top: 80px;
	background-image: url('../imagens/mancha.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 200px 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

img {
	width: 100%;
}

header {
	position: fixed;
	top: 0;

	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	background-color: #ffffff;
	box-shadow: #b2dafa 0 5px 5px;
	z-index: 1000;
}

header h1 {
	width: 20%;
}

header nav {
	width: 70%;
}

nav ul {
	padding: 0;
	list-style: none;
	text-align: right;
}

nav ul li, nav ul li a {
	display: inline-block;
	width: fit-content;
	height: 30px;
	margin-bottom: 4px;
	padding: 8px;
}

nav ul li a {
	text-decoration: none;
	background-color: #b2dafa;
	color: #000;
	line-height: 30px;
}

nav ul li a:hover {
	background-color: #ffffff;
	color: #000;
}

main {
	display: flex;
	/* vh corresponde a porcentagem da tela do dispositivo, 90VH = 90% altura da tela */
	min-height: 80vh;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

aside {
	width: 25%;
	background-color: #b2dafa;
	padding: 10px;
}

footer p {
	text-align: center;
}

li, p, h1, h2, h3, h4 {
	font-size: 1.2em;
}

ul {
	margin-left: 20px;
	list-style-type: none;
}

main a {
	text-decoration: none;
	color: rgb(29, 70, 253);
}



p {
	margin: 10px;
}

.conteudoj {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box {
	width: 46%;
	padding: 7px;
	margin-bottom: 12px;
	background-color: #fff;
}

.box figure {
	height: 220px;
	overflow: hidden;
	border: #000 solid 1px;
}

.conteudo, .conteudoj {
	width: 70%;
	padding: 10px;
	background-color: #b2dafa;
}

.ico-logo {
	width: 40px;
	margin-right: 20px;
}

.modal {
	position: fixed;
	top: 20%;
	right: 0;
	width: 200px;
	padding: 10px;
	background-color: yellow;
	border: #f90;
}

.modal .fechar {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 20px;
	padding: 2px;
	background-color: red;
	color: #fff;
	text-align: center;
}

/* nos desktops o menu habmurguer é oculto */

.menu-hamburguer{
	display: none;
}

.menu-phone{
	display: none;
}

#img-mae {
	margin-top: -100px;
}

#img-ingles {
	margin-top: -380px;
	size: -500px;
}

#img-biblio {
	margin-top: -500px;
}

.fechar{
	cursor: pointer;
}


/* layout para Tablets e celulares */

@media only screen and (max-width: 992px) {
	main {
		flex-direction: column-reverse;
	}

	aside, .conteudo, .conteudoj {
		width: 100%;
	}

	nav {
		display: none;
	}

	header h1 {
		width: 60%;
	}

	.menu-hamburguer {
		display: block;
		width: 50px;
		cursor: pointer;
	}

	.menu-phone{
		position: fixed;
		left: 0;
		top: 0;
		width: 50%;
		padding: 10px;
		background-color: #fff;
	}
	.menu-phone ul{
		padding: 0;
		list-style: none;
	}
	.menu-phone ul li, .menu-phone ul li a{
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		margin-bottom: 2px;
		text-indent: 10px;
	}

	






} 